<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>The Home Page</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, qui! Possimus, expedita. Fugiat suscipit omnis, illo voluptatem porro quas, tempore vel laboriosam a, deserunt impedit aliquam accusamus vitae aspernatur nulla!</p>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, qui! Possimus, expedita. Fugiat suscipit omnis, illo voluptatem porro quas, tempore vel laboriosam a, deserunt impedit aliquam accusamus vitae aspernatur nulla!</p>
</body>
</html>